*,
*:before,
*:after { margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

body { background-color: #f5f5f5; font-family: arial, tahoma, sans-serif; font-size: 13px; color: #333; }

a { color: inherit; text-decoration: none; }
img { display: block; width: 100%; }
.wrapper { margin: 0 auto; width: 1000px; }
.clearfix:after { display: block; clear: both; content: ''; }
.left { float: left; }
.right { float: right; }

label { display: block; color: #333; font-size: 16px; }
input[type=text],
input[type=password],
input[type=email],
textarea,
select { display: block; width: 100%; margin-bottom: 10px; padding: 5px; border: 1px solid transparent; border-bottom: 1px dashed #ddd; color: #626262; }
textarea { min-height: 250px; resize: none; border: 1px solid transparent; }
textarea:hover,
textarea:focus { border: 1px solid #ccc; }

input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; -webkit-text-fill-color: #888 !important; }

button,
.button,
[type=button],
[type=submit],
[type=reset] { display: inline-block; border: none; padding: 8px 15px; background-color: #888; color: #fff; font-size: 13px; cursor: pointer; }

.form_row-container {}
.form_row-container .icon_input-container {}
.form_row-container .icon_input-container:after { display: block; clear: both; content: ''; }
.form_row-container .icon_input-container .fa { float: left; width: 25px; padding: 5px 0px; color: #888; font-size: 14px; }
.form_row-container .icon_input-container input,
.form_row-container .icon_input-container select,
.form_row-container .icon_input-container textarea { width: calc(100% - 25px); }

.buttons-container,
.buttons-container.right { float: none; text-align: right; }
.buttons-container.center { text-align: center; }
.buttons-container.left { float: none; text-align: left; }

body > .loader { position: fixed; top: 0; left: 0; z-index: 1000000; width: 100%; height: 100%; background-color: #f5f5f5; background-image: url(img/ajax_loader1.gif); background-position: center; background-repeat: no-repeat; }

#LoginForm { width: 300px; margin: 0 auto; margin-top: 50px; border: 1px solid #ececec; padding: 35px 32px; background-color: #f9f9f9; }
.logo { display: inline-block; }
#LoginForm > .logo-container { margin-bottom: 25px; text-align: center; }
body > header { position: absolute; top: 0; z-index: 100; width: 100%; height: 48px; border-bottom: 1px solid #1c1c1c; padding: 10px 20px 10px 15px; background-color: #363636; color: #ebebeb; vertical-align: middle; }
#SiteLogo {}
#SiteLogo img { display: inline-block; width: auto; height: 28px; }
#SiteLogo .logo_container { display: inline-block; height: 28px; padding: 4px 4px 0px 4px; background-color: #fff; }
#SiteLogo .logo_container > img { display: inline-block; height: 24px; background-color: #fff; }
#MainContent-container { position: absolute; top: 48px; bottom: 0; width: 100%; }
#MainContent-container > aside { position: absolute; z-index: 1001; width: 100px; height: 100%; background-color: #414141; }
#MainContent-container > aside > .element-container { display: block; border-top: 1px solid #555; border-bottom: 1px solid #2e2e2e; padding: 18px 4px; background-color: #414141; color: #b0b0b0; font-size: 11px; text-align: center; cursor: pointer; }
#MainContent-container > aside > .element-container.open,
#MainContent-container > aside > .element-container:hover { background-color: #4d4d4d; color: #ccc; }
#MainContent-container > aside > .element-container .image-container { display: inline-block; width: 90%; margin-bottom: 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; overflow: hidden; background-color: #fff; }
#MainContent-container > aside > .element-container > .fa { margin-bottom: 5px; font-size: 24px; }
#MainContent-container > aside > .element-container .profile-link { display: block; }
#MainContent-container > aside.submenu { left: -125px; z-index: 1000; width: 225px; background-color: #f0f0f0; overflow: hidden; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
#MainContent-container > aside.submenu.open { left: 100px; }
#MainContent-container > aside.submenu .submenu-content { display: none; position: relative; height: 100%; }
#MainContent-container > aside.submenu .submenu-content .element-container { display: block; border-bottom: 1px solid #ccc; padding: 5px; color: #555; }
#MainContent-container > aside.submenu .submenu-content .element-container:after { display: block; clear: both; content: ''; }
#MainContent-container > aside.submenu .submenu-content .element-container:hover { background-color: #ebebeb; }
#MainContent-container > aside.submenu .submenu-content .element-container .fa { float: left; width: 40px; font-size: 24px; }
#MainContent-container > aside.submenu .submenu-content .element-container .element-title { font-size: 14px; font-weight: bold; }
#MainContent-container > aside.submenu .submenu-content .element-container .element-subtitle { color: #888; font-size: 11px; font-style: italic; font-weight: 300; }
#MainContent-container > aside.sidebar-right { right: 0; width: 200px; }

#MainContent { position: relative; height: 100%; margin-left: 100px; border-right: 1px solid #555; overflow-y: auto; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.sidebar-right #MainContent { margin-right: 200px; }
#MainContent.submenu-open { margin-left: 325px; border-left: 1px solid #2e2e2e; }
#MainContent h1 { display: block; margin: 0; border-bottom: 1px solid #c3c3c3; padding: 24px 32px; background-color: #f8f8f8; color: #626262; font-size: 14px; }
#MainContent h1 .fa {margin-right: 5px; }
#breadcrumb { border-bottom: 1px solid #c3c3c3; padding: 10px 32px; background-color: #f0f0f0; vertical-align: middle; }
#breadcrumb > * { display: inline-block; color: #888; vertical-align: middle; }
#breadcrumb > *:after { display: inline-block; margin: 0 5px; font-family: 'FontAwesome'; content: '\f101'; }
#breadcrumb > *:last-child:after { display: inline-block; margin: 0 5px; font-family: 'FontAwesome'; content: ''; }
#breadcrumb > *:hover { color: #666; }
#breadcrumb > * .fa { margin-right: 5px; }
#MainContent .edit-container {}
#MainContent .edit-container .edit_header-container { position: absolute; top: 0; left: 0; width: 100%; }
#MainContent .edit-container .edit_content-container { position: absolute; top: 103px; left: 0; bottom: 0; width: 100%; padding: 50px 25px 0 25px; }
#MainContent .edit-container .edit_content-container > .wrapper {}
#MainContent .edit-container .edit_content-container > .main_edit-container { padding: 15px; background-color: #fff; }
#MainContent .edit-container .edit_content-container section {}
#MainContent .edit-container .edit_content-container section:after { display: block; clear: both; content: ''; }
#MainContent .edit-container .edit_content-container section aside { float: right; width: 300px; background-color: red; }
#MainContent .edit-container .edit_content-container section main { margin-right: 300px; }
#MainContent .edit-container .edit_content-container section aside,
#MainContent .edit-container .edit_content-container section main .form-container { padding: 15px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75); -moz-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75); -webkit-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75); background-color: #fff; }
#MainContent .edit-container .edit_content-container section main .form-container { margin-right: 25px; }

#MainContent > section { padding: 15px; }
#MainContent > section:after { display: block; clear: both; content: ''; }
#MainContent > header { margin-bottom: 30px; border-bottom: 1px solid #ccc; padding: 10px; color: #626262; font-size: 14px; }

.menu-container { list-style: none; }
.menu-container li { display: inline-block; }
.menu-container li a { display: inline-block; width: 29px; height: 28px; margin-left: 10px; border-radius: 50%; -moz-border-radius: 50%; -webit-border-radius: 50%; box-shadow: 0 1px 0 #4e4e4e; background-color: #262626; list-style: none; color: #f0f0f0; text-align: center; vertical-align: middle; }
.menu-container li a.fa:before { display: inline-block; padding: 7px 0; }

.masonry-container {}
.masonry-container .masonry-element-container { float: left; position: relative; width: 108px; margin-top: 14px; margin-right: 10px; border: 1px solid #ccc; padding: 4px; background-color: #fff; overflow: hidden; font-size: 10px; -webkit-transition: all 0.25s; transition: all 0.25s; }
.masonry-container .masonry-element-container:hover { z-index: 100000; width: 235px; margin-left: -35px; margin-top: -35px; font-size: 14px; }
.masonry-container .masonry-element-container:hover:first-of-type { margin-left: 0px; font-size: 14px; }
.masonry-container .masonry-element-container       .element-add { display: block; width: 100%; margin: 0; padding: 10px 0; text-align: center; font-size: 35px; background-color: white; color: #333; }
.masonry-container .masonry-element-container:hover .element-add { display: block; width: 100%; margin: 0; padding: 50px 0; text-align: center; font-size: 75px; background-color: white; color: #333; }
.masonry-container .masonry-element-container       .preview_image { display: block; margin-bottom: 4px; }
.masonry-container .masonry-element-container         .element-delete { display: none; position: absolute; top: 5px; left: 5px; padding: 0 3px 3px 3px; background-color: white; color: red; font-size: 14px; line-height: 1em; }
.masonry-container .masonry-element-container:hover   .element-delete { display: block; }
.masonry-container .masonry-element-container         .element-info { padding: 10px; background-color: #626262; color: #ddd; }
.masonry-container .masonry-element-container.current .element-info { background-color: #7fecf9; color: #626262; }
.masonry-container .masonry-element-container         .element-current { display: none; float: right; background-color: transparent; color: #fff; }
.masonry-container .masonry-element-container.current .element-current { color: #16a085; }
.masonry-container .masonry-element-container:hover   .element-current { display: block; }

.file_browser-container { position: absolute; top: 102px; right: 0; bottom: 0; left: 0; z-index: 1; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.file_browser-container > aside { position: absolute; top: 0; bottom: 0; width: 200px; border-right: 1px solid #ccc; padding: 15px; overflow: auto; }
.file_browser-container > aside ul { display: block; list-style: none; }
.file_browser-container > aside ul li { display: block; }
.file_browser-container > aside ul li:before { float: left; margin-right: 3px; padding: 5px 0; font-family: FontAwesome; font-size: 12px; content: '\f0fe'; }
.file_browser-container > aside ul li.open:before { content: '\f146'; }
.file_browser-container > aside ul li:after { display: block; clear: both; content: ''; }
.file_browser-container > aside ul.folders_tree {}
.file_browser-container > aside ul.folders_tree li {}
.file_browser-container > aside ul.folders_tree li .folder_title { display: inline-block; padding: 3px 6px; cursor: pointer; }
.file_browser-container > aside ul.folders_tree li .folder_title:hover,
.file_browser-container > aside ul.folders_tree li .folder_title.current { background-color: #ddd; }
.file_browser-container > aside ul.folders_tree li > ul { display: none; margin-left: 15px; }
.file_browser-container > aside ul.folders_tree li.open > ul { display: block; }
.file_browser-container > section { position: absolute; bottom: 0; top: 0; left: 0px; right: 0; margin-left: 200px; overflow-y: auto; }
.file_browser-container > section > header { border-bottom: 1px solid #ccc; padding: 5px; }
.file_browser-container > section > header .file_browser-upload_container { float: right; padding: 3px 7px; }
.file_browser-container > section > header .file_browser-upload_container .button { position: relative; margin-top: -8px; overflow: hidden; }
.file_browser-container > section > header .file_browser-upload_container .button input[type=file] { position: absolute; top: -9999px; left: -9999px; }
.file_browser-container > section > header .file_browser-path { padding: 3px 7px; }
.file_browser-container > section > .file_browser-progress { position: relative; min-height: 2em; border-bottom: 1px solid #ccc; font-size: 11px; }
.file_browser-container > section > .file_browser-progress .progress { position: absolute; top: 0; left: 0; bottom: 0; z-index: 1; background-color: #5FD36A; text-align: right;  -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.file_browser-container > section > .file_browser-progress .progress-info { position: relative; z-index: 2; min-height: 1.2em; padding: 4px; line-height: 1.2em; }
.file_browser-container > section > main { padding: 15px; overflow: auto; }
.file_browser-container > section > main .file_browser-file_container {}
.file_browser-container > section > main .file_browser-file_container:after { display: block; clear: both; content: ''; }
.file_browser-container > section > main .file_browser-file_container .file_container { display: block; padding: 3px 6px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; cursor: pointer; }
.file_browser-container > section > main .file_browser-file_container .file_container.selected { background-color: #7fecf9; }
.file_browser-container > section > main .file_browser-file_container .file_container:hover { background-color: #ddd; }
.file_browser-container > section > main .file_browser-file_container .file_container:after { display: block; clear: both; content: ''; }
.file_browser-container > section > main .file_browser-file_container .file_container .file_icon-container { float: left; margin-right: 5px; }
.file_browser-container > section > main .file_browser-file_container .file_container .file_title,
.file_browser-container > section > main .file_browser-file_container .file_container .file_type,
.file_browser-container > section > main .file_browser-file_container .file_container .file_size { display: inline-block; overflow: hidden; line-height: 1.2em; text-overflow: ellipsis; white-space: nowrap; }
.file_browser-container > section > main .file_browser-file_container .file_container .file_title { width: 50%; }
.file_browser-container > section > main .file_browser-file_container .file_container .file_type { width: 25%; }
.file_browser-container > section > main .file_browser-file_container .file_container .file_size { width: 25%; }
.file_browser-contextmenu { display: none; position: absolute; z-index: 100000; width: 150px; border: 1px solid #ccc; background-color: #fff; }
.file_browser-contextmenu .menu-item { padding: 5px; cursor: pointer; }
.file_browser-contextmenu .menu-item:hover { background-color: #ccc; }
.file_browser-contextmenu .menu-divider{ border-bottom: 1px solid #ccc; margin: 10px 0; }

.layouts_list-container {}
.layouts_list-container:after { display: block; clear: both; content: ''; }
.layouts_list-container .layout-container { float: left; width: calc(50% - 5px); margin-right: 0px; margin-bottom: 10px; cursor: pointer; }
.layouts_list-container .layout-container:nth-child(odd) { margin-right: 10px; }
.layouts_list-container .layout-container .image-container { width: 100%; margin-bottom: 3px; }
.layouts_list-container .layout-container .image-container img { display: block; width: 100%; height: auto; }
.layouts_list-container .layout-container .layout-title { font-family: Verdana, Arial, sans-serif; font-size: 1em; font-weight: 300; }

.elements_list-container {}
.elements_list-container:after { display: block; clear: both; content: ''; }
.elements_list-container .widget-container { float: left; width: calc(50% - 5px); margin-right: 0px; margin-bottom: 10px; cursor: pointer; }
.elements_list-container .widget-container:nth-child(odd) { margin-right: 10px; }
.elements_list-container .widget-container .image-container { width: 100%; margin-bottom: 3px; }
.elements_list-container .widget-container .image-container img { display: block; width: 100%; height: auto; }
.elements_list-container .widget-container .widget-title { font-family: Verdana, Arial, sans-serif; font-size: 0.8em; font-weight: 300; text-align: center; }



.tiles-container {}
.tiles-container:after { display: block; clear: both; content: ''; }
.tile { display: block; float: left; position: relative; width: 150px; height: 150px; margin: 5px; border: 3px solid #fff; box-shadow: inset 0 0 1px #FFFFCC; background-color: #eee; cursor: pointer; overflow: hidden; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.tile .fa { position: absolute; top: 40px; left: 0; width: 100%; font-size: 64px; text-align: center; }
.tile .tile-text { position: absolute; bottom: 5px; left: 5px; width: 100%; font-weight: bold; letter-spacing: 0.13em; }

.bg-color-turquoase     { background-color: #1abc9c !important; }
.bg-color-green_see     { background-color: #16a085 !important; }
.bg-color-emerald       { background-color: #2ecc71 !important; }
.bg-color-nephritis     { background-color: #27ae60 !important; }
.bg-color-river         { background-color: #3498db !important; }
.bg-color-belize        { background-color: #2980b9 !important; }
.bg-color-amethyst      { background-color: #9b59b6 !important; }
.bg-color-wisteria      { background-color: #8e44ad !important; }
.bg-color-sun_flower    { background-color: #f1c40f !important; }
.bg-color-orange        { background-color: #f39c12 !important; }
.bg-color-carrot        { background-color: #e67e22 !important; }
.bg-color-pumpkin       { background-color: #d35400 !important; }
.bg-color-alizarin      { background-color: #e74c3c !important; }
.bg-color-pomegranate   { background-color: #c0392b !important; }
.bg-color-clouds        { background-color: #ecf0f1 !important; }
.bg-color-silver        { background-color: #bdc3c7 !important; }
.bg-color-concrete      { background-color: #95a5a6 !important; }
.bg-color-asbestos      { background-color: #7f8c8d !important; }
.bg-color-wet_asphalt   { background-color: #34495e !important; }
.bg-color-midnight_blue { background-color: #2c3e50 !important; }

.tx-color-turquoase     { color: #1abc9c !important; }
.tx-color-green_see     { color: #16a085 !important; }
.tx-color-emerald       { color: #2ecc71 !important; }
.tx-color-nephritis     { color: #27ae60 !important; }
.tx-color-river         { color: #3498db !important; }
.tx-color-belize        { color: #2980b9 !important; }
.tx-color-amethyst      { color: #9b59b6 !important; }
.tx-color-wisteria      { color: #8e44ad !important; }
.tx-color-sun_flower    { color: #f1c40f !important; }
.tx-color-orange        { color: #f39c12 !important; }
.tx-color-carrot        { color: #e67e22 !important; }
.tx-color-pumpkin       { color: #d35400 !important; }
.tx-color-alizarin      { color: #e74c3c !important; }
.tx-color-pomegranate   { color: #c0392b !important; }
.tx-color-clouds        { color: #ecf0f1 !important; }
.tx-color-silver        { color: #bdc3c7 !important; }
.tx-color-concrete      { color: #95a5a6 !important; }
.tx-color-asbestos      { color: #7f8c8d !important; }
.tx-color-wet_asphalt   { color: #34495e !important; }
.tx-color-midnight_blue { color: #2c3e50 !important; }