*,
*:before,
*:after { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

body { margin: 0; padding: 0; font-family: arial, tahoma, sans-serif; font-size: 11px; color: #333; }

a { color: inherit; text-decoration: none; }
img { display: block; width: 100%; }
.button { display: inline-block; border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 4px 6px; background-color: #416084; background: -moz-linear-gradient(top,#4D6F97,#405F82); background: -ms-linear-gradient(top,#4D6F97,#405F82); background: -webkit-gradient(linear,0 0,0 100%,from(#4D6F97),to(#405F82)); background: -webkit-linear-gradient(top,#4D6F97,#405F82); background: -o-linear-gradient(top,#4D6F97 0,#405F82 100%); background: linear-gradient(top,#4D6F97 0,#405F82 0); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D6F97',endColorstr='#405F82',GradientType=0); color: #fff; font-size: 11px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); cursor: pointer; }
.button > .fa { font-size: 13px; }
.dropdown-container { position: relative; z-index: 1000; }
.dropdown-container > .content-container { display: none; position: absolute; top: 32px; right: -9px; left: auto; min-width: 160px; margin: 2px 0 0; margin-top: 0px; padding: 0px; border: 1px solid #CBD5DE; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; background-color: #FFF; color: #333; font-size: 11px; }
.dropdown-container.open > .content-container { display: block; }
.dropdown-container > .content-container:before { display: inline-block; width: 10px; height: 7px; position: absolute; top: -7px; right: 15px; background-image: url(img/dropdown-triangle-up.png); background-repeat: no-repeat; content: ''; }
.dropdown-container > .content-container .dropdown-item { border-bottom: 1px solid #E4EAEF; border-left: 1px solid #E4EAEF; padding: 10px 10px 9px; background: #F1F3F5; color: #2B587A; line-height: 14px; text-decoration: none; }
.dropdown-container > .content-container .dropdown-item:hover { border-left: 3px solid #50769E; padding: 10px 10px 9px 8px; background-color: #EEF0F2; -webkit-transition: background-color 200ms linear; -moz-transition: background-color 200ms linear; transition: background-color 200ms linear; }

table { width: 100%; border-collapse: collapse; }
table thead {}
table thead tr th,
table tbody tr td { border-right: 1px solid #DAE1E8; border-bottom: 1px solid #DAE1E8; padding: 6px 10px; text-align: left; }
table thead tr th { background-color: #F1F3F5; }
table thead tr th:last-of-type { border-right: none; }
table tbody {}
table tbody tr {}
table tbody tr td {}
table tbody tr td.center { text-align: center; }
table tbody tr td:last-of-type { border-right: none; }
table tbody tr:last-of-type td { border-bottom: none; }
table tbody tr:hover td { background-color: #EEF0F2; -webkit-transition: background-color 200ms linear; -moz-transition: background-color 200ms linear; transition: background-color 200ms linear; }

.search-container { display: inline-block; border: 1px solid #C0CAD5; background-color: #fff; padding: 0px; }
.search-container input[type=text] { width: 150px; border: none; padding: 3px 6px; background-color: transparent; font-size: 11px; vertical-align: middle; }
.search-container input[type=text]:focus { outline: none; }
.search-container [type=submit] { border: none; border-left: 1px solid #C0CAD5; padding: 3px 6px; background-color: #fff; vertical-align: middle; cursor: pointer; }
.search-container [type=submit]:before { display: inline-block; color: #666; font-family: 'FontAwesome'; font-size: 11px; content: "\f002"; }

.alert { margin-bottom: 20px; border: 1px solid #fbeed5; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 8px 35px 8px 14px; background-color: #fcf8e3; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
.alert { margin: 10px 0px; padding: 10px 20px 10px 15px; line-height: 16px; }
.alert,
.alert h4 { color: #c09853; }
.alert h4 { margin: 0; }
.alert .close { position: relative; top: -2px; right: -21px; line-height: 20px; }
.alert-success { border-color: #d6e9c6; background-color: #dff0d8; color: #468847; }
.alert-success h4 { color: #468847; }
.alert-danger,
.alert-error { border-color: #eed3d7; background-color: #f2dede; color: #b94a48; }
.alert-danger h4,
.alert-error h4 { color:#b94a48; }
.alert-info { border-color: #bce8f1; background-color: #d9edf7; color: #3a87ad; }
.alert-info h4 { color: #3a87ad; }
.alert-block { padding-top: 14px; padding-bottom: 14px; }
.alert-block>p,
.alert-block>ul { margin-bottom: 0; }
.alert-block p+p { margin-top: 5px; }

.content-block .alert { margin: 10px; }

.wrapper { position: relative; width: 1000px; margin: 0 auto; }

.header { margin-bottom: 10px; border-top: 1px solid #7795B6; border-bottom: 1px solid #385472; padding: 10px 0; background-color: #4C6E93; background: -moz-linear-gradient(top,#5B7FA6,#426285); background: -ms-linear-gradient(top,#5B7FA6,#426285); background: -webkit-gradient(linear,0 0,0 100%,from(#5B7FA6),to(#426285)); background: -webkit-linear-gradient(top,#5B7FA6,#426285); background: -o-linear-gradient(top,#5B7FA6 0,#426285 100%); background: linear-gradient(top,#5B7FA6 0,#426285 0); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5B7FA6',endColorstr='#426285',GradientType=0); -moz-box-shadow: 0 0 2px 2px #AFBAC0; -webkit-box-shadow: 0 0 2px 2px #AFBAC0; box-shadow: 0 0 2px 2px #AFBAC0; color: #fff; }
.header:after { display: block; clear: both; content: ''; }
.header .logo { float: left; }
.header .buttons-container { float: right; }
.edit_mode .header .wrapper { width: auto; padding: 0 10px; }

.main_container {}
.main_container:after { display: block; clear: both; content: ''; }
.main_container > .main_sidebar { float: left; width: 220px; border: 1px solid #E4EAEF; }
.main_container > .main_sidebar > .user_info-container { margin-bottom: 5px; }
.main_container > .main_sidebar > .user_info-container:after { display: block; clear: both; content: ''; }
.main_container > .main_sidebar > .user_info-container .image { float: left; width: 30px; }
.main_container > .main_sidebar > .user_info-container .content { margin-left: 35px; color: #607387; }
.main_container > .main_sidebar .list-container { border-top: 1px solid #E4EAEF; }
.main_container > .main_sidebar .list-container > .list-item-container { position: relative; display: block; border-bottom: 1px solid #E4EAEF; border-left: 1px solid #E4EAEF; background: #F1F3F5; color: #2B587A; line-height: 14px; text-decoration: none; }
.main_container > .main_sidebar .list-container > .list-item-container.active,
.main_container > .main_sidebar .list-container > .list-item-container:hover { background-color: #EEF0F2; -webkit-transition: background-color 200ms linear; -moz-transition: background-color 200ms linear; transition: background-color 200ms linear; }
.main_container > .main_sidebar .list-container > .list-item-container.active { border-right: 3px solid #50769E; }
.main_container > .main_sidebar .list-container > .list-item-container a { display: block; padding: 10px 10px 9px; }
.main_container > .main_content-container { margin-left: 220px; }
.main_container > .main_content-container > .main-heading { min-height: 34px; border: 1px solid #DAE1E8; padding: 4px 6px; background-color: #E9EDF1; }
.main_container > .main_content-container > .main-heading h1 { margin: 0; padding: 0; color: #607387; font-family: Tahoma, Arial, sans-serif; font-size: 12px; line-height: 16px; }
.main_container > .main_content-container > .main-heading .search-container { float: right; }
.main_container > .main_content-container > .main-content { padding: 0px 0px 20px 10px; }

.content-block { margin-top: 0px; border: 1px solid #DAE1E8; border-radius: 3px; box-shadow: -2px -2px 3px rgba(224,226,228,0.4); }
.main_container > .main_content-container > .main-content .content-block { margin-top: 20px; }
.content-block .content-block-heading { border-bottom: 1px solid #DAE1E8; -moz-border-radius: 3px 3px 0px 0px; -webkit-border-radius: 3px 3px 0px 0px; border-radius: 3px 3px 0px 0px; background: #F0F1F2; }
.content-block .content-block-heading h2 { display: block; margin: 0px; padding: 9px 10px; color: #607387; font-size: 11px; font-family: tahoma, arial, sans-serif; line-height: 20px; }
.content-block .content-block-heading .fa-times { float: right; padding: 10px; font-size: 14px; color: #666; cursor: pointer; }
.content-block .content-block-heading .fa-times:hover { color: #A00; }
.content-block .content-block-content {}
.content-block .content-block-content.spacing { padding: 20px; }
.content-block .content-block-footer { border-top: 1px solid #DAE1E8; -moz-border-radius: 0px 0px 3px 3px; -webkit-border-radius: 0px 0px 3px 3px; border-radius: 0px 0px 3px 3px; padding: 9px 10px; background: #F0F1F2; }

form {}
.content-block form {}
form .form-row { display: inline-block; width: 100%; padding: 10px 0; color: #333; font-size: 11px; vertical-align: middle; }
form .form-row label,
form .form-row .info { display: inline-block; width: 200px; vertical-align: middle; line-height: 12px; }
form .form-row .info { color: #666; }
form .form-row input[type=text],
form .form-row input[type=password],
form .form-row select,
form .form-row textarea { width: 300px; border: 1px solid #C0CAD5; padding: 3px 6px; font-size: 11px; vertical-align: middle; resize: none; }
.content-block-footer.align-right,
form .content-block-footer { text-align: right; }