*,
*:before,
*:after { margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

body { background-color: #f5f5f5; font-family: arial, tahoma, sans-serif; font-size: 13px; color: #333; }
h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 1.2em; }
a { color: inherit; text-decoration: none; }
img { display: block; width: 100%; }
.wrapper { margin: 0 auto; width: 1000px; }
.clearfix:after { display: block; clear: both; content: ''; }
.left { float: left; }
.right { float: right; }

label { display: block; color: #333; font-size: 16px; }
input[type=text],
input[type=password],
input[type=email],
textarea,
select { display: block; width: 100%; margin-bottom: 10px; padding: 5px; border: 1px solid #ccc; color: #626262; }
textarea { min-height: 150px; resize: none; }

input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; -webkit-text-fill-color: #888 !important; }

button,
.button,
[type=button],
[type=submit],
[type=reset] { display: inline-block; border: none; padding: 8px 15px; background-color: #888; color: #fff; font-size: 13px; cursor: pointer; }

.form_row-container {}
.form_row-container .icon_input-container {}
.form_row-container .icon_input-container:after { display: block; clear: both; content: ''; }
.form_row-container .icon_input-container .fa { float: left; width: 25px; padding: 5px 0px; color: #888; font-size: 14px; }
.form_row-container .icon_input-container input,
.form_row-container .icon_input-container select,
.form_row-container .icon_input-container textarea { width: calc(100% - 25px); }
.form_row-container .icon_input-container.two_columns input { display: inline-block; width: calc(50% - 20px); margin-left: 11px; }
.form_row-container .icon_input-container.two_columns input:first-of-type { margin-left: 0px; }

.buttons-container,
.buttons-container.right { float: none; text-align: right; }
.buttons-container.center { text-align: center; }
.buttons-container.left { float: none; text-align: left; }

body > .loader { position: fixed; top: 0; left: 0; z-index: 1000000; width: 100%; height: 100%; background-color: #f5f5f5; background-image: url(img/ajax_loader1.gif); background-position: center; background-repeat: no-repeat; }

.form-container { width: 500px; margin: 0 auto; margin-top: 50px; border: 1px solid #ececec; padding: 35px 32px; background-color: #f9f9f9; }
.form-container > .logo-container { display: inline-block; margin-bottom: 25px; text-align: center; }

.themes_section-container { margin-bottom: 25px; }
.themes_section-container .themes_section-heading { margin-bottom: 15px; border-bottom: 1px solid #333; padding-bottom: 5px; color: #333; font-size: 14px; font-weight: bold; }
.themes_section-container .themes_section-list {}
.themes_section-container .themes_section-list:after { display: block; clear: both; content: ''; }
.themes_section-container .themes_section-list .theme-container { display: block; margin-bottom: 5px; cursor: pointer; }
.themes_section-container .themes_section-list .theme-container:after { display: block; clear: both; content: ''; }
.themes_section-container .themes_section-list .theme-container input[type=radio] { float: left; margin: 18px 10px 18px 0px; }
.themes_section-container .themes_section-list .theme-container .image-container { float: left; width: 50px; margin-right: 5px; }
.themes_section-container .themes_section-list .theme-container .image-container img { display: block; width: 100%; height: auto; }
.themes_section-container .themes_section-list .theme-container .theme-info { margin-left: 85px; font-size: 12px; }

fieldset { margin-bottom: 25px; border: 1px solid #ccc; padding: 10px; }
fieldset legend { border: 1px solid #ccc; padding: 3px 10px; background-color: #fff; font-size: 16px; font-weight: bold; }